<p>
    <button (click)="get()">GET</button>
    <button (click)="post()">POST</button>
    <button (click)="put()">PUT</button>
    <button (click)="delete()">DELETE</button>

</p>

<!-- <table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Manufacture date</th>
        <th>Expiry date</th>
        <th>Barcode/th>

    </tr>
    <tr  *ngFor="let Standup of listProducts">
        <td>{{students.studentId}}</td>
        <td>{{students.studentName}}</td>
        <td>{{students.course}}</td>
        <td>{{students.studentGrade}}</td>
        <td>{{students.phn}}</td>
        <td>{{students.address}}</td>

    </tr>



</table> -->